{% extends 'base.html' %}
{% block title %}Редактировать пользователя{% endblock %}
{% block menu %}
     <li class="nav-item active">
        <a class="nav-link" href="{% url "accounts:detail" user_obj.pk %}">Назад<span class="sr-only">(current)</span></a>
      </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url "accounts:password_change" user_obj.pk %}">Смена пароля <span
                class="sr-only">(current)</span></a>
    </li>
{% endblock %}
{% block content %}
    <h1>Поменять личные данные</h1>
    <form action="{% url 'accounts:change' user_obj.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'partial/forms.html' with form=form fields_only=True %}
        {% include 'partial/forms.html' with form=profile_form fields_only=True %}
        <br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}