{% extends "base.html" %}
{% load staticfiles %}
{% block title %}TaskView{% endblock %}

{% block menu %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'add_task' project.pk %}">Добавить задачу <span class="sr-only">(current)</span></a>
        {#        <a class="nav-link" href="{% url 'article_new' %}">Добавить задачу <span class="sr-only">(current)</span></a>#}
        {#      </li>#}
        {#    <li class="nav-item active">#}
        {#        <a class="nav-link" href="{% url 'delete' article.pk %}">Удалить задачу <span class="sr-only">(current)</span></a>#}
        {#      </li>#}
        {#    <li class="nav-item active">#}
        {#        <a class="nav-link" href="{% url 'edit' article.pk %}">Редактировать задачу <span class="sr-only">(current)</span></a>#}
    </li>
{% endblock %}
{% block content %}
    <h1>{{ project.name }}</h1>
    <p class="description">Описание :{{ project.description }}</p>
    {% if project.start_date %}<p>Дата начала: {{ project.start_date }}</p>{% endif %}
    {% if project.finish_date %}<p>Дата окончания: {{ project.finish_date }}</p>{% endif %}
    <h3>Задачи:</h3>
    <div class="task-list">
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
        {% for task in tasks %}
            <div class="task">
                <a href="{% url 'view_task' task.pk %}"> {{ task.summary }} | {{ task.status }}</a>
            </div>
        {% empty %}
            <p>Нет созданных задач.</p>
        {% endfor %}
    </div>
{% endblock %}
